/* == Global Reset ==  */
* {
    margin: 0;
    padding: 0;
}

/* == Fonts and Colors == */
:root {
    --dull-purple-color: #7f576a;
    --mirage-color: #201520;
    --dawn-pink-color: #F1EBED;
    --purplish-gray-color: #7B6D7B;

    --font-family-serif: 'Inria Serif', serif;
    --font-family-cursive: 'Kristi', cursive;
    --font-family-sans-serif: 'Abel', sans-serif;

    background-color: #F1EBED;
}

/* Text color classes */
.black-text {
    /*color: var(--black-color);*/
    color: #3e2e33;
}

.gray-text {
    /*color: var(--gray-color);*/
    color: var(--purplish-gray-color);
}

.dark-gray-text {
    /*color: var(--dark-gray-color);*/
    color: var(--purplish-gray-color);
}

/* Text style classes */
.font-abel {
    font-family: var(--font-family-sans-serif);
    font-size: 24px;
}

.font-inria-serif {
    font-family: var(--font-family-serif);
    font-size: 48px;
}

.font-inria-serif-bold {
    font-family: var(--font-family-serif);
    font-size: 48px;
    font-weight: bold;
}

.font-inria-serif-bold-sm {
    font-family: var(--font-family-serif);
    font-size: 18px;
    font-weight: bold;
}

.font-inria-serif-light {
    font-family: var(--font-family-serif);
    font-size: 16px;
    font-weight: lighter;
}

.font-inria-serif-light-sm {
    font-family: var(--font-family-serif);
    font-size: 12px;
    font-weight: lighter;
}

.font-kristi {
    font-family: var(--font-family-cursive);
    font-size: 36px;
}

/* == Media Queries == */
@media screen and (max-width: 576px) {
    /* Apply these when the screen size is below 576px */
    .font-inria-serif {
        font-size: 28px;
    }

    .font-kristi {
        font-size: 28px;
    }
}
