/* == Global Reset ==  */
* {
    margin: 0;
    padding: 0;
}

/* == Fonts and Colors == */
:root {
    --black-color: #1a1a1a;
    --gray-color: #808080;
    --dark-gray-color: #363636;

    --font-family-serif: 'Inria Serif', serif;
    --font-family-cursive: 'Kristi', cursive;
    --font-family-sans-serif: 'Abel', sans-serif;
    /*background-color: #fff9df;*/
}

/* Common Text Styles */
.black-text {
    color: var(--black-color);
}

.gray-text {
    color: var(--gray-color);
}

.dark-gray-text {
    color: var(--dark-gray-color);
}

.abel {
    font-family: var(--font-family-sans-serif);
    font-size: 24px;
}

.inria-serif {
    font-family: var(--font-family-serif);
    font-size: 48px;
}

.inria-serif-bold {
    font-family: var(--font-family-serif);
    font-size: 48px;
    font-weight: bold;
}

.inria-serif-bold-sm {
    font-family: var(--font-family-serif);
    font-size: 18px;
    font-weight: bold;
}

.inria-serif-light {
    font-family: var(--font-family-serif);
    font-size: 16px;
    font-weight: lighter;
}

.inria-serif-light-sm {
    font-family: var(--font-family-serif);
    font-size: 12px;
    font-weight: lighter;
}

.kristi {
    font-family: var(--font-family-cursive);
    font-size: 36px;
}

/* Categories and Personal Sections Styles */
.categories,
.personal {
    margin-top: 40px;
}

.row.selected-category {
    color: black;
}

/* Socials Section Styles */
.socials {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically in the center */
    margin-top: 40px;
}

.social-icon {
    margin-right: 10px;
    filter: grayscale(100%); /* To apply grayscale effect to the SVGs */
}

/* == Hover and Click Styles == */
.categories .row:hover,
.personal .row:hover,
.socials .row:hover,
.purchase:hover {
    transform: translateX(-5px);
    transition: transform 0.15s ease;
}

.categories .row,
.personal .row,
.socials .row,
.purchase {
    cursor: pointer;
    transition: transform 0.5s ease;
}

/* == Media Queries == */
@media screen and (max-width: 576px) {
    /* Apply these when the screen size is below 768px */
    .inria-serif {
        font-size: 28px;
    }

    .kristi {
        font-size: 28px;
    }
}
