.categories-container {
    display: flex;
    flex-direction: column;
}

.row.selected-category {
    color: var(--mirage-color);
}

.categories-container .row:hover {
    transform: translateX(-5px);
    transition: transform 0.15s ease;
}

.categories-container .row {
    cursor: pointer;
    transition: transform 0.5s ease;
    text-decoration: none;
}

/* == Media Queries == */
@media screen and (max-width: 576px) {
    .categories-container .row:hover {
        transform: none;
        transition: none;
    }
}
