/* == Individual Image Column Styles == */
.individual-image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* This ensures it doesn't go off the screen considering the gap */
    margin-left: 220px;
}

.individual-image-column .painting-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.individual-image-column .painting-container .title {
    text-align: left;
}

.individual-image-column .painting-container .painting-image {
    max-width: 100%;
    height: 100vh;
    max-height: calc(100vh - 168px); /* Considering margins and padding for container */
    object-fit: contain;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); !* This needs to be fixed *!*/
}

.individual-image-column .painting-container .info-purchase {
    display: flex;
    justify-content: space-between; /* Align the info and purchase to opposite ends */
    align-items: center; /* Center the items horizontally */
}

@media screen and (max-width: 576px) {
    /* Apply these when the screen size is below 768px */
    .painting-container {
        height: 100vh;
        max-height: calc(100vh - 168px); /* Considering margins and padding for container */
        /*display: flex;*/
        /*justify-content: center; !* Center horizontally *!*/
    }

    .individual-image-column {
        margin-left: 0;
    }
}