/* == Individual Image Column Styles == */
.individual-painting-container-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 220px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 40px;
}

/*.individual-painting-container-content .title {*/
/*    font-size: 3vw;*/
/*}*/

.individual-painting-container-content img {
    max-width: 100%;
    max-height: calc(100dvh - 200px); /* Considering margins and padding for container */
    object-fit: contain;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.individual-painting-container-content .title {
    margin-top: 4px;
}

.individual-painting-container-mobile {
    display: none;
}

.individual-painting-container-content {
    display: flex;
    flex-direction: column;
    /*gap: 18px;*/
    align-items: flex-start;
}

.individual-painting-container-desktop .arrow {
    transition: transform 0.3s ease;
    padding: 20px;
}

.individual-painting-container-desktop .arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .individual-painting-container-desktop {
        display: none;
    }

    .individual-painting-container-mobile {
        margin-left: 220px;
    }

    .individual-painting-container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 0 16px;
    }

    .individual-painting-container-mobile img {
        border-radius: 3px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    .individual-painting-container-mobile .title {
        margin-top: 4px;
    }
}

@media screen and (max-width: 576px) {
    /* Apply these when the screen size is below 576px */
    .individual-painting-container-desktop {
        margin-left: 0;
    }

    .individual-painting-container-desktop {
        display: none;
    }

    .individual-painting-container-mobile {
        margin-left: 0;
        justify-content: flex-start;
        height: 100%;
    }
}