/* == TextSection CSS */

/* Text Column Styles */
.text-column {
    text-align: left;
    display: flex; /* Causes the text-column to shrink to the width of its contents. */
    flex-direction: column;
    position: fixed;
    top: 40px;
    left: 40px;
    height: 100vh;
    justify-content: space-evenly;
}

.text-column-bottom-row {
    display: flex;
    position: absolute;
    bottom: 80px;
    gap: 40px;
}

/* == Media Queries == */
@media screen and (max-width: 576px) {
    /* Apply these when the screen size is below 576px */
    .text-column {
        display: none; /* Hide it */
    }
}