/* == TextSection CSS */

/* Text Column Styles */
.text-column {
    text-align: left;
    display: inline-block; /* Causes the text-column to shrink to the width of its contents. */
    position: fixed;
    top: 40px;
    left: 40px;
    bottom: 0;
}

/* == Media Queries == */
@media screen and (max-width: 576px) {
    /* Apply these when the screen size is below 576px */
    .text-column {
        display: none; /* Hide it */
    }
}